<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a href="https://gregori.tech" class="navbar-brand">Gregori Tech</a></div>

    <ul class="navbar-nav">
      <li><a routerLink="/shop" class="nav-link">Shop</a></li>
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">Admin</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a routerLink="/admin/users" class="dropdown-item">Users</a>
          <a routerLink="/admin/books" class="dropdown-item">Books</a>
        </div>
      </li>
    </ul>
  </nav>
</header>
