<h1>{{book.id == null ? 'Add' : 'Edit' }} Book {{book.id != null ? '- ' + book.id : ''}}</h1>

<form>
  <label for="name">Name</label>
  <input type="text" name="name" id="name" placeholder="Book Name" [(ngModel)]="book.name" class="form-control">

  <label for="author">Author</label>
  <input type="text" name="author" id="author" placeholder="Author" [(ngModel)]="book.author" class="form-control">

  <label for="price">Price</label>
  <input type="text" name="price" id="price" placeholder="Price" [(ngModel)]="book.price" class="form-control">

  <br>
  <input type="file" (change)="onFileChanged($event)">
  <img [src]="imgUrl" height="200" width="200" *ngIf="imgUrl">
  <br>
  <button type="button" class="btn btn-success" (click)="saveBook()">Save Book</button>
</form>
